*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
github_settings.xml
androidEditors.xml
androidStudioFirstRun.xml
baseRefactoring.xml
colors.scheme.xml
debugger.xml
editor.xml
vcs.xml
ui.lnf.xml